$color1:#41ead4;
$color2:#2ca58d;
$color3:#151e3f;
$color4:#030027;
$color5:#984447;

$colorText: black;
$colorText1: rgb(75, 75, 75);
$colorText2: rgb(180, 180, 180);
$colorText3: rgb(243, 243, 243);

$gradient: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$gradientR: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$gradient1: linear-gradient(to left, #050c37, #59314b, #8d6867, #b4a69b, #e3e3e2);
$gradient2: radial-gradient(circle, #0b50aa, #9545a5, #d93b81, #f5584f, #eb8c12);